<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>imoko</title>
</head>
<body>
       
          <div class="nav ">
            <span>imoko</span>  
            <input type="text" placeholder="looking for something?">
            <li><a><i style="font-size:27px;" class="material-icons">home</i></a></li>
            <li><a><i style="font-size:27px;" class="material-icons">public</i></a></li>
            <li><a><i style="font-size:27px;" class="material-icons">person</i></a></li>
            <li><a><i style="font-size:27px;" class="material-icons">person_add</i></a></li>
            <li><a class="upload"><i style="font-size:27px;" class="material-icons">cloud_upload</i></a></li>
          </div>
        <div class="dabba">
            <div class="modal">
              <div class="modal-content">
                <div class="close">
                    <a ><i class="material-icons">close</i></a><br>
                </div>
                  
                  <span>Pick an image</span><br>

                <div class="picker">
                  <input type="file" id="files-button" class="filebtn" name="files[]" multiple="" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif,.bmp,.pdf,.xcf,.webp,.mp4,.mov">
                  <label for="files-button">
                      <img src="http://www.theaccessproject.org.uk/assets/choose-icon-28d9b9edd72dda8c9acc9c66625e6820.png" width="100px" height="100px" />
                  </label>
                </div>

                <span>or add a url</span><br>

                <input type="text" placeholder="Just cut and paste">               
                                
                  <div class="extra">
                    <a href="https://giphy.com/create/gifmaker">Make a gif</a>
                    <a href="https://memegenerator.net/">Make a Meme</a>
                  </div>         
              </div>
            </div>
          <div class="wrap">
                <div class="pic"><img src="https://i.pinimg.com/236x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-pic-classic-movies-posters.jpg"></div>  <div class="middle"><div class="text"></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/84/7d/8d/847d8d0a2c748413dadaf94ab4d74966--quentin-tarantino-tarantino-movies.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/d2/52/05/d25205301e8c5ca1964e963ae798e61a--pic-design-art-prints.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/da/6a/06/da6a066209f0c9093e511713ea528983---s-comic-book.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/6f/16/ec/6f16ec6e791d66a4d1760253843e2d3a--fan-pic-movie-pic-art.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/a5/69/11/a5691171ae3ce7aeb7e10ef60764b90d--ruby-slippers-wizard-of-oz-movie.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/e4/e1/a2/e4e1a2f1dadc89f81b3fff9ca97cdab6--split--split-movie-pic.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/9b/ba/b1/9bbab1bf7befd1589d427f81964569f4--summer-nights-grease-.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/90/35/b5/9035b5a26f4ad365626f05161b4c8a6f--minimalist-movie-posters-singers.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/b3/f2/45/b3f245f24014bdd78fa9aeb37336e0a3--nick-robinson-jurassic-world-chris-pratt-jurassic-world.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/a1/20/3d/a1203da24bd7fec826000e2568ef87f2--theater-posters-horror-movie-posters.jpg"><div class="middle"><div class="text"></div></div></div>
                <div class="pic"><img src="https://i.pinimg.com/236x/05/66/49/056649dcf638e8006a31af8f25a0f725--guardians-of-galaxy-guardians-of-gahoole.jpg"><div class="middle"><div class="text"></div></div></div>
          </div>
        </div>
      
      </body>
      <script src="js/home.js"></script>
</html>